* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  color: #151515;
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

header {
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 1.25rem;
  background-color: white;
  position: relative;
}

.logo {
  height: auto;
  width: 7.5rem;
  margin-left: 0;
  display: block;
  margin-top: 0.625rem;
}

.join-button-container {
  position: absolute;
  top: 0.625rem;
  right: 1.25rem;
}

.join-button {
  background-color: #813eff;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.313rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.join-button:hover {
  background-color: #732bf7;
}

.hero {
  align-items: center;
  height: 75vh;
  padding: 0 1.25rem;
  background-color: #ffffff;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}

.hero-text {
  max-width: 50%;
  margin-bottom: 0.625rem;
  text-align: left;
}

.hero h2 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  background: linear-gradient(to right, #813eff, #b899f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.hero p {
  font-size: 1.2rem;
  margin: 1rem 0;
  margin-bottom: 1.875rem;
}

.hero-image {
  width: 40%;
  text-align: left;
  margin-left: 0;
}

.hero-img {
  width: 21.875rem;
  height: auto;
  border-radius: 0.625rem;
  display: block;
  margin-top: 0.625rem;
  margin-left: 7.5rem;
}

.button {
  background-color: #813eff;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.313rem;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #732bf7;
}

.features {
  padding: 2.5rem 1.25rem;
  background-color: #f0f0f0;
  text-align: center;
}

.features h2 {
  font-size: 1.875rem;
  margin-bottom: 1.25rem;
  font-weight: bold;
  background: linear-gradient(to right, #151515, #828282);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.features-grid {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
}

.feature-item {
  flex: 1;
  max-width: 30%;
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 0.938rem;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.feature-item img {
  width: 4.063rem;
  height: auto;
  margin-bottom: 0.25rem;
}

.feature-text {
  text-align: left;
}

.feature-text h3 {
  font-size: 1.375rem;
  margin-bottom: 0.625rem;
  font-weight: bold;
}

.feature-text p {
  font-size: 1.2rem;
  color: #333;
  max-width: 15.625rem;
}

.use-cases {
  padding: 3.125rem 1.25rem;
  background-color: #ffffff;
  text-align: center;
}

.use-case-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
}

.use-case-item {
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 0.938rem;
  box-shadow: 0 0.25rem 0.625rem rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.use-case-item img {
  width: 4.063rem;
  height: auto;
}

.use-case-item p {
  font-size: 1rem;
  color: #333;
  max-width: 100%;
  text-align: left;
}

.use-case-text h3 {
  font-size: 1.375rem;
  margin-bottom: 0.625rem;
  font-weight: bold;
  text-align: center;
}

.use-cases h2 {
  font-size: 1.875rem;
  margin-bottom: 1.25rem;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(to right, #151515, #828282);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.contact {
  text-align: center;
  padding: 2.5rem 1.25rem;
  background-color: #f0f0f0;
}

.contact h2 {
  font-size: 1.875rem;
  margin-bottom: 1.25rem;
  background: linear-gradient(to right, #151515, #828282);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.contact .button {
  font-size: 1.1rem;
  padding: 0.875rem 1.75rem;
}

.popup-modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 1.25rem;
  border: 0.063rem solid #888;
  width: 80%;
  max-width: 31.25rem;
  border-radius: 0.625rem;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 1.75rem;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.popup-input {
  width: 100%;
  padding: 0.625rem;
  margin-top: 0.625rem;
  border: 0.063rem solid #ccc;
  border-radius: 0.313rem;
  font-size: 1rem;
}

.footer {
  text-align: center;
  padding: 1.25rem;
  background-color: #151515;
  color: #ffffff;
}

@media (max-width: 1024px) { /* Tablet */
  header {
    padding: 1rem; /* Padding adjustment */
  }

  .hero {
    padding: 2rem 1rem; /* Adjust padding */
  }

  .hero h2 {
    font-size: 2.5rem; /* Reduce font size */
  }

  .hero p {
    font-size: 1rem; /* Reduce paragraph font size */
  }

  .features-grid,
  .use-case-grid {
    grid-template-columns: repeat(2, 1fr); /* Two columns for tablets */
  }

  .feature-item,
  .use-case-item {
    margin: 0.5rem; /* Add spacing between items */
  }
}

@media (max-width: 768px) { /* Mobile */
  body {
    font-size: 1rem; /* Adjusting base font size */
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }

  header {
    flex-direction: column; /* Stack header items */
    align-items: flex-start; /* Align items to the start */
    padding: 1rem; /* Add padding for mobile */
  }

  .logo {
    margin-bottom: 1rem; /* Margin below logo */
  }

  .hero {
    flex-direction: column; /* Stack hero content */
    text-align: center; /* Center text */
    height: auto; /* Height adjusts automatically */
    padding: 2rem 1rem; /* Add more padding */
  }

  .hero-text {
    max-width: 90%; /* Allow some margin */
    margin: 0 auto 1rem; /* Center the text */
  }

  .hero-image {
    width: 100%; /* Full width for the image */
    margin-top: 1rem; /* Margin above image */
  }

  .hero-img {
    width: 100%; /* Adjust image width to cover the screen */
    height: auto; /* Maintain aspect ratio */
    margin: 0 auto; /* Center image */
  }

  .features {
    padding: 1.5rem 1rem; /* Adjust padding for features */
    width: 100%; /* Ensure full width */
    box-shadow: none; /* Remove box shadow for edge-to-edge */
    overflow: hidden; /* Prevent overflow */
  }

  .features-grid {
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack items vertically */
    width: 100%; /* Ensure full width */
  }

  .feature-item {
    width: 100%; /* Full width for items */
    max-width: 100%; /* Ensure items don't exceed full width */
    padding: 1rem; /* Increase padding */
    margin: 0.5rem 0; /* Vertical margin for spacing */
    box-sizing: border-box; /* Include padding in width calculation */
  }

  .features h2,
  .use-cases h2,
  .contact h2 {
    font-size: 1.5rem; /* Adjust title font sizes */
  }

  .contact {
    padding: 2.5rem 1rem; /* Adjust padding for contact */
    width: 100%; /* Ensure full width */
    box-shadow: none; /* Remove box shadow for edge-to-edge */
  }

  .contact .button {
    font-size: 1rem; /* Adjust button font size */
    padding: 0.75rem 1.5rem; /* Adjust padding */
  }

  .footer {
    padding: 1rem; /* Add padding for footer */
    width: 100%; /* Ensure full width */
  }

  .popup-content {
    width: 90%; /* Make popup content width responsive */
  }
}


/* Additional mobile adjustments */
@media (max-width: 480px) { /* Extra small devices */
  body {
    font-size: 12px; /* Further font size adjustment for very small screens */
  }

  .hero h2 {
    font-size: 2rem; /* Reduce heading size for very small screens */
  }

  .hero p {
    font-size: 0.9rem; /* Smaller paragraph font size */
  }

  .features h2,
  .use-cases h2,
  .contact h2 {
    font-size: 1.25rem; /* Adjust title font sizes for very small screens */
  }

  .button,
  .contact .button {
    padding: 0.5rem 1rem; /* Adjust button padding */
  }
}
